{% extends "base.html" %}

{% block title %}
    ooops 404
{% endblock %}

{% block nav %}
      <ul class="rd-navbar-nav">
        <li class="active"><a href="{% url 'index' %}">首页</a></li>
        <li><a href="{% url 'games' %}">所有游戏</a></li>
        <li><a href="{% url 'faq' %}">常见问题</a></li>
        <li><a href="{% url 'contact-us' %}">联系我们</a></li>
        <li><a href="{% url 'submit' %}">提交游戏</a></li>
      </ul>
{% endblock %}

{% block content %}
      <section class="breadcrumbs-custom bg-image" style="background-image: url(/static/images/bg-image-1.jpg);">
        <div class="shell">
          <p class="heading-1 breadcrumbs-custom__title">404</p>
        </div>
      </section>

      <section class="section section-sm bg-white text-center">
        <div class="shell">
          <div class="range range-sm-center">
            <div class="cell-lg-7">
              <h3>网页不见啦~~~<br class="veil reveal-md-block"></h3>
              <p class="large"> (╯‵□′)╯︵┻━┻ </p>
              <div class="group-sm group-sm_mod-1"> <a class="button button-darker" href="index.html">回到首页</a>
                <p class="text-bold">or</p><a class="button button-primary" href="contacts.html">联系我们</a>
              </div>
            </div>
          </div>
        </div>
      </section>
{% endblock %}