<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <!-- Site Title-->
    <title>{% block title %}BeeFun -- 最全的区块链游戏Dapp资源合集{% endblock %}</title>
    <meta name="keywords" content="区块链,游戏,dapp,区块链游戏,数字货币,加密货币,ETH,以太坊,EOS,柚子,星云链,平台,分发,推荐,鉴赏,开发商"/>
    <meta name="description" content="{% block description %}BeeFun是一个DApp区块链游戏分发平台，推荐最全最新潮最好玩的ETH、EOS等区块链游戏。{% endblock %}"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=PT+Sans:300,400,500,700%7CRaleway:700">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128673256-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-128673256-1');
    </script>
  </head>


  <body>

    <!-- Page-->
    <div class="page">
      <!-- Page Header-->
      <header class="page-header section">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-creative" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-sm-device-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fullwidth" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fullwidth" data-lg-layout="rd-navbar-fullwidth" data-stick-up-clone="false" data-md-stick-up-offset="150px" data-lg-stick-up-offset="60px" data-md-stick-up="true" data-lg-stick-up="true">

            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main">
                <!-- RD Navbar Panel -->
                <div class="rd-navbar-panel">
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <!-- RD Navbar Brand-->
                  <div class="rd-navbar-brand"><a class="brand" href="index.html">
                      <div class="brand__name"><img src="/static/images/logo-135x47.png" alt="" width="135" height="47"/>
                      </div></a></div>
                </div>
                <!-- RD Navbar Nav -->
                <div class="rd-navbar-nav-wrap">
                  <!-- RD Navbar Nav-->
                    {% block nav %}
                  <ul class="rd-navbar-nav">
                    <li class="active"><a href="{% url 'index' %}">首页</a></li>
                    <li><a href="{% url 'games' %}">所有游戏</a></li>
                    <li><a href="{% url 'faq' %}">常见问题</a></li>
                    <li><a href="{% url 'contact-us' %}">联系我们</a></li>
                    <li><a href="{% url 'submit' %}">提交游戏</a></li>
                  </ul>
                    {% endblock %}
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>

      {% block content %}
      {% endblock %}

      <!-- Page Footer-->
      <footer class="footer-corporate">
        <div class="footer-corporate__main bg-gray-darker">
          <div class="shell shell-fluid shell-condensed">
            <div class="range range-xs-center range_xl-ten range-50 footer-corporate__range">
              <div class="cell-xs-6 cell-sm-6 cell-md-3 cell-lg-3 footer-corporate__column">
                <h4 class="heading-bordered">关于我们</h4>
                <ul class="post-group post-light-group">
                  <li>
                    <article class="post-light">
                      <p class="post-light__title">联系邮箱：</p>
                      <time datetime="2017">foxmaysing@gmail.com</time>
                    </article>
                  </li>
                  <li>
                    <article class="post-light">
                      <p class="post-light__title">联系QQ：</p>
                      <time datetime="2017">2227009661</time>
                    </article>
                  </li>
                </ul>
              </div>
              <div class="cell-xs-6 cell-sm-6 cell-md-3 cell-lg-3 footer-corporate__column">
                <h4 class="heading-bordered">关注公众号</h4>
                  <div class="qrcode">
                      <img src="/static/images/RQcode.jpg" alt="公众号" height="120" width="120" >
                  </div>
              </div>
              <div class="cell-xs-6 cell-sm-6 cell-md-3 cell-lg-3 footer-corporate__column">
                <h4 class="heading-bordered">区块链查询</h4>
                  <ul class="post-group post-light-group">
                    <li>
                    <article class="post-light">
                    <p class="post-light__title"><a href="https://www.blockchain.com/zh-cn/explorer" target="_blank">BTC查询</a></p>
                    </article>
                    </li>
                    <li>
                    <article class="post-light">
                    <p class="post-light__title"><a href="https://etherscan.io/" target="_blank">ETH查询</a></p>
                    </article>
                    </li>
                    <li>
                    <li>
                    <article class="post-light">
                    <p class="post-light__title"><a href="https://eostracker.io/" target="_blank">EOS查询</a></p>
                    </article>
                  </ul>
              </div>
              <div class="cell-xs-6 cell-sm-6 cell-md-3 cell-lg-3 footer-corporate__column">
                <h4 class="heading-bordered">友情链接</h4>
                  <ul class="list-xxs list_darker">
                      {% block blogroll %}
                      <a href="#" target="_blank">谷歌</a>&nbsp;&nbsp;&nbsp;
                      <a href="#" target="_blank">google</a>&nbsp;&nbsp;&nbsp;
                      <a href="#" target="_blank">google</a>&nbsp;&nbsp;&nbsp;
                      {% endblock %}
                  </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-corporate__aside bg-gray-base text-center">
          <div class="shell shell-fluid shell-condensed">
            <div class="range range-20 range_xl-ten footer-corporate__range">
              <div class="cell-sm-8 cell-xl-6 footer-corporate__aside-column text-sm-left">
                <!-- Rights-->
                <p class="rights"><span>BeeFun</span><span>&nbsp;&copy;&nbsp;</span><span id="copyright-year"></span>.&nbsp;&nbsp;&nbsp;粤ICP备16051216号
                </p>
              </div>
            </div>
          </div>
        </div>
      </footer>

    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <script src="/static/js/core.min.js"></script>
    <script src="/static/js/script.js"></script>
  </body>
</html>
