{% extends "base.html" %}

{% block title %}
    BeeFun区块链游戏汇总 -- 最全的区块链游戏资源合集
{% endblock %}

{% block description %}
    BeeFun是一个DApp区块链游戏分发平台，推荐最全最新潮最好玩的ETH、EOS等区块链游戏。
{% endblock %}

{% block nav %}
    <ul class="rd-navbar-nav">
        <li><a href="{% url 'index' %}">首页</a></li>
        <li class="active"><a href="{% url 'games' %}">游戏汇总</a></li>
        <li><a href="{% url 'faq' %}">常见问题</a></li>
        <li><a href="{% url 'contact-us' %}">联系我们</a></li>
    </ul>
{% endblock %}

{% block content %}

      <!-- Breadcrumbs-->
      <section class="breadcrumbs-custom bg-image" style="background-image: url(/static/images/bg-image-9.jpg);">
        <div class="shell">
          <h2 class="breadcrumbs-custom__title">{{ game.zh_name }}</h2>
          <h5 class="breadcrumbs-custom__path">{{ game.en_name }}</h5>
        </div>
      </section>

      <!-- Single post-->
      <section class="section section-md bg-white">
        <div class="shell blog">
          <div class="range range-90">
            <div class="cell-md-8 cell-lg-9 blog__main">
              <article class="post-single"><img class="post-single__image" src="/static/images/post-4-870x412.jpg" alt="" width="870" height="412"/>
                <h4 class="post-single__title">Email Newsletters Hit a Speed Bump: Inaccurate Open Rates</h4>
                <ul class="post-single__meta">
                  <li>
                    <dl>
                      <dt>Date</dt>
                      <dd>
                        <time datetime="2017-01-22">January 22, 2017</time>
                      </dd>
                    </dl>
                  </li>
                  <li>
                    <dl>
                      <dt>Posted by</dt>
                      <dd>Amelia Condon</dd>
                    </dl>
                  </li>
                  <li>
                    <dl>
                      <dt>Comments</dt>
                      <dd>3</dd>
                    </dl>
                  </li>
                  <li>
                    <dl>
                      <dt>Category</dt>
                      <dd>Digital</dd>
                    </dl>
                  </li>
                </ul>
                <div class="post-single__main">
                    {{ game.parti_description | safe }}
                </div>
                <div class="post-single__footer">
                  <p class="heading-5">分享给好友：</p>
                  <div class="group-sm"><a class="button button-xs button-facebook button-icon button-icon-left" href="#"><span class="icon fa fa-wechat"></span>微信</a><a class="button button-xs button-twitter button-icon button-icon-left" href="#"><span class="icon fa fa-qq"></span>QQ</a><a class="button button-xs button-google button-icon button-icon-left" href="#"><span class="icon fa fa-weibo"></span>微博</a></div>
                </div>
              </article>
            </div>
            <div class="cell-md-4 cell-lg-3 blog__aside">
              <div class="blog-aside__column">
                <div class="blog__aside-item">
                  <!-- RD Search-->
                  <form class="rd-search rd-search_classic" action="search-results.html" method="GET">
                    <div class="form-wrap">
                      <input class="form-input" id="page-aside-search" type="text" name="s" autocomplete="off">
                      <label class="form-label" for="page-aside-search">Search the blog...</label>
                    </div>
                    <button class="rd-search-submit" type="submit"></button>
                  </form>
                </div>
                <div class="blog__aside-item">
                  <p class="heading-8 blog-title">Categories</p>
                  <ul class="list-marked-bordered">
                    <li><a href="#"><span>Digital/SMM</span><span class="count">(4)</span></a></li>
                    <li><a href="#"><span>Brand Marketing</span><span class="count">(2)</span></a></li>
                    <li><a href="#"><span>Media Buying</span><span class="count">(6)</span></a></li>
                  </ul>
                </div>
                <div class="blog__aside-item">
                  <p class="heading-8 blog-title">Popular posts</p>
                  <div class="post-inline-wrap">
                    <!-- Post inline-->
                    <article class="post-inline">
                      <div class="post-inline__main">
                        <p class="post-inline__title"><a href="single-post.html">How We Measure the Vlogs' Ad Potential</a></p>
                      </div>
                      <div class="post-inline__footer">
                        <p class="post-inline__time">13 April 2017</p>
                      </div>
                    </article>
                    <!-- Post inline-->
                    <article class="post-inline">
                      <div class="post-inline__main">
                        <p class="post-inline__title"><a href="single-post.html">Digital Marketing Metrics That Really Matter Nowadays</a></p>
                      </div>
                      <div class="post-inline__footer">
                        <p class="post-inline__time">25 January 2017</p>
                      </div>
                    </article>
                  </div>
                </div>
                <div class="blog__aside-item">
                  <p class="heading-8 blog-title"><span>Promo</span><span class="tag-inline">
                      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="51px" height="23px" viewbox="0 0 51 23.011" preserveAspectRatio="none">
                        <polygon points="7,0.006 7,0 0,11.505 7,23.011 7,23.006 51,23.006 51,0.006 "></polygon>
                      </svg><span>New</span></span></p><a class="box-promo" href="#"><img src="/static/images/promo-1-236x321.jpg" alt="" width="236" height="321"/>
                    <div class="box-promo__content">
                      <h5>Recommendations to Manage Your Campaign</h5>
                    </div></a>
                </div>
              </div>
              <div class="blog-aside__column">
                <div class="blog__aside-item">
                  <p class="heading-8 blog-title"><span>Gallery</span></p>
                  <div class="range range-xs range-10 max-330" data-lightgallery="group">
                    <div class="cell-4 cell-xs-4">
                      <!-- Thumbnail Classic-->
                      <article class="thumbnail-classic thumbnail-classic-xs"><a class="thumbnail-classic-figure" href="/static/images/single-post-01-1200x800.jpg" data-lightgallery="item"><img src="/static/images/single-post-01-92x92.jpg" alt="" width="92" height="92"/></a>
                      </article>
                    </div>
                    <div class="cell-4 cell-xs-4">
                      <!-- Thumbnail Classic-->
                      <article class="thumbnail-classic thumbnail-classic-xs"><a class="thumbnail-classic-figure" href="/static/images/single-post-02-1200x883.jpg" data-lightgallery="item"><img src="/static/images/single-post-02-92x92.jpg" alt="" width="92" height="92"/></a>
                      </article>
                    </div>
                    <div class="cell-4 cell-xs-4">
                      <!-- Thumbnail Classic-->
                      <article class="thumbnail-classic thumbnail-classic-xs"><a class="thumbnail-classic-figure" href="/static/images/single-post-03-1200x803.jpg" data-lightgallery="item"><img src="/static/images/single-post-03-92x92.jpg" alt="" width="92" height="92"/></a>
                      </article>
                    </div>
                    <div class="cell-4 cell-xs-4">
                      <!-- Thumbnail Classic-->
                      <article class="thumbnail-classic thumbnail-classic-xs"><a class="thumbnail-classic-figure" href="/static/images/single-post-04-1200x1264.jpg" data-lightgallery="item"><img src="/static/images/single-post-04-92x92.jpg" alt="" width="92" height="92"/></a>
                      </article>
                    </div>
                    <div class="cell-4 cell-xs-4">
                      <!-- Thumbnail Classic-->
                      <article class="thumbnail-classic thumbnail-classic-xs"><a class="thumbnail-classic-figure" href="/static/images/single-post-05-1200x801.jpg" data-lightgallery="item"><img src="/static/images/single-post-05-92x92.jpg" alt="" width="92" height="92"/></a>
                      </article>
                    </div>
                    <div class="cell-4 cell-xs-4">
                      <!-- Thumbnail Classic-->
                      <article class="thumbnail-classic thumbnail-classic-xs"><a class="thumbnail-classic-figure" href="/static/images/single-post-06-1200x800.jpg" data-lightgallery="item"><img src="/static/images/single-post-06-92x92.jpg" alt="" width="92" height="92"/></a>
                      </article>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

{% endblock %}
