{% extends "base.html" %}

{% block title %}
    BeeFun区块链游戏汇总 -- 最全的区块链游戏Dapp资源合集
{% endblock %}

{% block description %}
    BeeFun是一个DApp区块链游戏分发平台，推荐最全最新潮最好玩的ETH、EOS等区块链游戏。
{% endblock %}

{% block nav %}
    <ul class="rd-navbar-nav">
        <li><a href="{% url 'index' %}">首页</a></li>
        <li class="active"><a href="{% url 'games' %}">游戏汇总</a></li>
        <li><a href="{% url 'faq' %}">常见问题</a></li>
        <li><a href="{% url 'contact-us' %}">联系我们</a></li>
        <li><a href="{% url 'submit' %}">提交游戏</a></li>
    </ul>
{% endblock %}

{% block content %}

{#      <!-- Breadcrumbs-->#}
{#      <section class="breadcrumbs-custom bg-image" style="background-image: url(/static/images/bg-image-9.jpg);">#}
{#        <div class="shell">#}
{#          <h2 class="breadcrumbs-custom__title">{{ game.zh_name }}</h2>#}
{#          <h5 class="breadcrumbs-custom__path">{{ game.en_name }}</h5>#}
{#        </div>#}
{#      </section>#}

      <!-- Single post-->
      <section class="section section-md bg-white">
        <div class="shell blog">
          <div class="range range-90">
            <div class="cell-md-8 cell-lg-9 blog__main">
              <article class="post-single"><img class="post-single__image" src="{{ game.icon.url }}" alt="区块链游戏{{ game.show_name }}" width="870" height="400"/>
                <h4 class="post-single__title">{{ game.show_name }}</h4>
                <ul class="post-single__meta">
                  <li>
                    <dl>
                      <dt>日期</dt>
                      <dd>
                        <time datetime="2017-01-22">{{ game.add_time }}</time>
                      </dd>
                    </dl>
                  </li>
                  <li>
                    <dl>
                      <dt>区块链</dt>
                      <dd>{{ game.platform }}</dd>
                    </dl>
                  </li>
                  <li>
                    <dl>
                      <dt>阅读数</dt>
                      <dd>{{ game.view_number }}</dd>
                    </dl>
                  </li>
                </ul>
                <div class="post-single__main">
                    {% autoescape off %}
                    {{ game.parti_description }}
                    {% endautoescape %}
                </div>
                <div class="post-single__footer">
                  <p class="heading-5">分享给好友：</p>
                  <div class="group-sm"><a class="button button-xs button-facebook button-icon button-icon-left" href="#"><span class="icon fa fa-wechat"></span>微信</a><a class="button button-xs button-twitter button-icon button-icon-left" href="#"><span class="icon fa fa-qq"></span>QQ</a><a class="button button-xs button-google button-icon button-icon-left" href="#"><span class="icon fa fa-weibo"></span>微博</a></div>
                </div>
              </article>
            </div>
            <div class="cell-md-4 cell-lg-3 blog__aside">
              <div class="blog-aside__column">
                <div class="blog__aside-item">
                  <!-- RD Search-->
                    <a href="{{ game.website }}" target="_blank">
                  <div class="button button-primary button-circle button-shadow">游戏官网</div>
                    </a>
                </div>
                <div class="blog__aside-item">
                  <p class="heading-8 blog-title"><span>游戏评分</span><span class="tag-inline">
                      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="51px" height="23px" viewbox="0 0 51 23.011" preserveAspectRatio="none">
                        <polygon points="7,0.006 7,0 0,11.505 7,23.011 7,23.006 51,23.006 51,0.006 "></polygon>
                      </svg><span>综合指数</span></span></p><a class="box-promo" href="#"><img src="/static/images/promo-1-236x321.jpg" alt="" width="236" height="321"/>
                    <div class="box-promo__content">
                      <h5>{{ game.star }}星</h5>
                    </div></a>
                </div>
                <div class="blog__aside-item">
                  <p class="heading-8 blog-title">标签</p>
                  <ul class="list-marked-bordered">
                    <li><a href="#"><span>{{ game.tags }}</span><span class="count">(4)</span></a></li>
                  </ul>
                </div>
                <div class="blog__aside-item">
                  <p class="heading-8 blog-title">最受欢迎的游戏</p>
                  <div class="post-inline-wrap">
                    <!-- Post inline-->
                      {% for hot in all_game %}
                    <article class="post-inline">
                      <div class="post-inline__main">
                        <p class="post-inline__title"><a href="{{ hot.website }}" target="_blank">{{ hot.show_name }}</a></p>
                      </div>
                      <div class="post-inline__footer">
                        <p class="post-inline__time">{{ hot.add_time }}</p>
                      </div>
                    </article>
                      {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

{% endblock %}
