{% extends "base.html" %}

{% block title %}
    BeeFun区块链游戏汇总 -- 最全的区块链游戏资源合集
{% endblock %}

{% block description %}
    BeeFun是一个DApp区块链游戏分发平台，推荐最全最新潮最好玩的ETH、EOS等区块链游戏。
{% endblock %}

{% block nav %}
    <ul class="rd-navbar-nav">
        <li><a href="{% url 'index' %}">首页</a></li>
        <li class="active"><a href="{% url 'games' %}">游戏汇总</a></li>
        <li><a href="{% url 'faq' %}">常见问题</a></li>
        <li><a href="{% url 'contact-us' %}">联系我们</a></li>
    </ul>
{% endblock %}

{% block content %}
    <!-- Search results -->
<section class="section section-md bg-white">
    <div class="shell">
      <!-- RD Search-->
      <form class="rd-search rd-search_md rd-search_classic" action="search-results.html" method="GET">
        <div class="form-wrap">
          <input class="form-input" id="search-results-search" type="text" name="s" autocomplete="off">
          <label class="form-label" for="search-results-search">Search...</label>
        </div>
        <button class="rd-search-submit" type="submit"></button>
      </form>
      <div class="rd-search-results"></div>
    </div>
</section>


    <!-- All games -->
<section class="section section-md bg-white">
<div class="shell shell-wide">
<div class="range range-md-center">
<div class="cell-lg-11">
  <!-- Section List -->
  <div class="range range-center range-30 range-flex">
      {% for game in all_game %}
    <div class="cell-sm-5 cell-lg-3">
      <article class="post-modern"><a class="post-modern__image-wrap" href="{% url 'detail' game.game_id %}">
        <img class="post-modern__image" src="{{ game.icon.url }}" alt="{{ game.zh_name }}--BeFun" width="365" height="215"/></a>
        <div class="post-modern__main">
          <p class="post-modern__title">
              <a href="{% url 'detail' game.en_name %}">{{ game.zh_name }}</a></p>
          <p class="post-modern__text">{{ game.short_description }}</p>
          <ul class="post-modern__meta">
            <li><span class="icon icon-primary mdi mdi-clock"></span>{{ game.add_time }}</li>
            <li><span class="icon icon-primary fl-justicons-visible6"></span><span>{{ game.view_number }}</span></li>
          </ul>
        </div>
      </article>
    </div>
      {% endfor %}
  </div>
</div>
</div>
</div>
</section>

      <ul class="pagination-custom">
        {% if contacts.has_previous %}
          <li class="pagination-control">
          <a href="?page={{ contacts.previous_page_number }}">Prev</a></li>
        {% endif %}
        {% for contact in contacts %}
        {% if page %}
            {% ifequal page contacts.number %}
                <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
            {% else %}
                <li><a href="?{{ page.querystring }}">{{ page }}</a></li>
            {% endifequal %}
        {% endif %}
        {% endfor %}
        {% if contacts.has_next %}
          <li class="pagination-control">
        <a href="?page={{ contacts.next_page_number }}">Next</a></li>
        {% endif %}
      </ul>
    <br><br>
{% endblock %}