{% extends "base.html" %}

{% block content %}
<!-- Swiper-->
<section class="section section-layout-1">
<div class="section-layout-main">
<div class="swiper-container swiper-slider swiper-slider_style-2" data-loop="true" data-autoplay="5000" data-simulate-touch="false" data-slide-effect="fade">
<div class="swiper-wrapper">
    {% for large_banner in large_banner_list %}
        <a href="{{ large_banner.url }}" target="_blank"  class="swiper-slide" data-slide-bg="{{ large_banner.image.url }}"></a>
    {% endfor %}
</div>

<div class="swiper-pagination"></div>
</div>
</div>

<div class="section-layout-aside">
<div class="section-layout-aside__item"><a class="thumb-modern" href="{{ small_banner_1.url }}" target="_blank"><img class="thumb-modern__image" src="{{ small_banner_1.image.url }}" alt="" width="538" height="200"/></a></div>
<div class="section-layout-aside__item"><a class="thumb-modern" href="{{ small_banner_2.url }}" target="_blank"><img class="thumb-modern__image" src="{{ small_banner_2.image.url }}" alt="" width="498" height="195"/></a></div>
<div class="section-layout-aside__item"><a class="thumb-modern" href="{{ small_banner_3.url }}" target="_blank"><img class="thumb-modern__image" src="{{ small_banner_3.image.url }}" alt="" width="460" height="195"/></a></div>
</div>
</section>

<br><br><br><br>

<!-- The playlists -->
<section class="section parallax-container bg-gray-dark" data-parallax-img="/static/images/bg-image-3.jpg" alt="">
<div class="parallax-content">
<div class="section-sm text-center">
<div class="shell shell-wide">
  <div class="range range-md-center">
    <div class="cell-lg-11">
      <!-- Section Header-->
      <div class="section__header section_header-noborder">
        <h3>游戏平台</h3>
        <div class="section__header-element"><a class="link link-arrow" href="{% url 'submit' %}"><span>提交游戏</span></a></div>
      </div>
      <div class="range range-30 range-flex">
        <div class="cell-sm-6 cell-lg-3">
          <!-- Card creative-->
          <article class="card-creative">
            <div class="card-creative__header"><img src="/static/images/team-1-115x119.jpg" alt="" width="115" height="119"/>
            </div>
            <div class="card-creative__main" data-fixed-height="">
              <p class="card-creative__title">ETH</p>
              <p class="card-creative__subtitle">Founder, CEO</p>
              <div class="card-creative__element"><a href="mailto:#">info@demolink.org</a></div>
            </div>
          </article>
        </div>
        <div class="cell-sm-6 cell-lg-3">
          <!-- Card creative-->
          <article class="card-creative">
            <div class="card-creative__header"><img src="/static/images/team-2-115x119.jpg" alt="" width="115" height="119"/>
            </div>
            <div class="card-creative__main" data-fixed-height="">
              <p class="card-creative__title">EOS</p>
              <p class="card-creative__subtitle">Business Development Manager</p>
              <div class="card-creative__element"><a href="mailto:#">info@demolink.org</a></div>
            </div>
          </article>
        </div>
        <div class="cell-sm-6 cell-lg-3">
          <!-- Card creative-->
          <article class="card-creative">
            <div class="card-creative__header"><img src="/static/images/team-3-115x119.jpg" alt="" width="115" height="119"/>
            </div>
            <div class="card-creative__main" data-fixed-height="">
              <p class="card-creative__title">NEO</p>
              <p class="card-creative__subtitle">Project Manager</p>
              <div class="card-creative__element"><a href="mailto:#">info@demolink.org</a></div>
            </div>
          </article>
        </div>
        <div class="cell-sm-6 cell-lg-3">
          <!-- Card creative-->
          <article class="card-creative">
            <div class="card-creative__header"><img src="/static/images/team-4-115x119.jpg" alt="" width="115" height="119"/>
            </div>
            <div class="card-creative__main" data-fixed-height="">
              <p class="card-creative__title">else...</p>
              <p class="card-creative__subtitle">Senior Copywriter</p>
              <div class="card-creative__element"><a href="mailto:#">info@demolink.org</a></div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</section>


<!-- News-->
<section class="section section-md bg-white">
<div class="shell shell-wide">
<div class="range range-md-center">
<div class="cell-lg-11">
  <!-- Section Header-->
  <div class="section__header">
    <h3>最新游戏</h3>
    <div class="section__header-element"><a class="link link-arrow" href="{% url 'games' %}"><span>查看所有游戏</span></a></div>
  </div>
  <div class="range range-center range-30 range-flex">
      {% for game in hotest_game %}
        <div class="cell-sm-5 cell-lg-3">
          <article class="post-modern"><a class="post-modern__image-wrap" href="{% url 'detail' game.game_id %}">
            <img class="post-modern__image" src="{{ game.icon.url }}" alt="{{ game.show_name }}--BeeFun区块链游戏" width="365" height="215"/></a>
            <div class="post-modern__main">
              <p class="post-modern__title">
                  <a href="{% url 'detail' game.en_name %}">{{ game.zh_name }}</a></p>
              <p class="post-modern__text">{{ game.short_description }}</p>
              <ul class="post-modern__meta">
                <li><span class="icon icon-primary mdi mdi-star"></span><span>评分：{{ game.star }}</span></li>
                <li><span class="icon icon-primary mdi mdi-clock"></span>{{ game.add_time }}</li>
                <li><span class="icon icon-primary fl-justicons-visible6"></span><span>{{ game.view_number }}</span></li>
              </ul>
            </div>
          </article>
        </div>
      {% endfor %}
  </div>
</div>
</div>
</div>
</section>
{% endblock %}

{% block blogroll %}
    {% for roll in blogroll %}
      <a href="{{ roll.website_url }}" target="_blank">{{ roll.website_name }}</a>&nbsp;&nbsp;&nbsp;
    {% endfor %}
{% endblock %}