{% extends "base.html" %}

{% block title %}
    BeeFun区块链游戏汇总 -- 最全的区块链游戏资源合集
{% endblock %}

{% block description %}
    BeeFun是一个DApp区块链游戏分发平台，推荐最全最新潮最好玩的ETH、EOS等区块链游戏。
{% endblock %}

{% block nav %}
    <ul class="rd-navbar-nav">
        <li><a href="{% url 'index' %}">首页</a></li>
        <li><a href="{% url 'games' %}">游戏汇总</a></li>
        <li><a href="{% url 'faq' %}">常见问题</a></li>
        <li><a href="{% url 'contact-us' %}">联系我们</a></li>
        <li class="active"><a href="{% url 'submit' %}">提交游戏</a></li>
    </ul>
{% endblock %}

{% block content %}
        <!-- Page-->
    <div class="page">
      <!-- Page content-->
      <div class="section section-single bg-gray-dark bg-image" style="background-image: url(/static/images/bg-image-11.jpg);">
        <div class="section-single__inner">
          <div class="section-single__header">
{#            <div class="shell">#}
{#              <!-- Brand--><a class="brand" href="index.html">#}
{#                <div class="brand__name"> <img src="/static/images/logo-inverse-135x47.png" alt="" width="135" height="47"/>#}
{#                </div></a>#}
{#            </div>#}
          </div>
          <div class="section-single__main">
            <div class="shell">
              <h3>页面正在施工中...</h3>
              <div class="divider-small"></div>
              <div class="countdown-wrap">
                <div class="DateCountdown" data-type="until" data-date="2018-12-31 00:00:00" data-format="wdhms" data-color="#ffe500" data-bg="rgba(255, 255, 255, 1)" data-width="0.02"></div>
              </div>
              <p style="max-width: 450px;">该功能正在开发中，如需要提交游戏，可以联系QQ：2227009661</p>
              <p style="max-width: 450px;">我们会在第一时间回复你。</p>
{#              <div class="rd-mailform-wrap">#}
{#                <form class="rd-mailform rd-mailform_inline rd-mailform_inline-centered" data-form-output="form-output-global" data-form-type="subscribe" method="post" action="bat/rd-mailform.php">#}
{#                  <div class="form-wrap">#}
{#                    <input class="form-input" id="subscribe-form-email" type="email" name="email" data-constraints="@Email @Required">#}
{#                    <label class="form-label" for="subscribe-form-email">E-mail</label>#}
{#                  </div>#}
{#                  <button class="button button-primary" type="submit">subscribe</button>#}
{#                </form>#}
{#              </div>#}
            </div>
          </div>
          <div class="section-single__footer">
            <div class="shell">
{#              <p class="rights"><span>Median</span> <span>&copy;</span> <span id="copyright-year"></span>.&nbsp;<br class="veil-xs"><a class="link-underline" href="privacy-policy.html">Privacy Policy</a>#}
{#              </p>#}
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>

{% endblock %}
